.containerHalaman1 {
    width: 100vw;
    height: 110vh;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.isiHalaman1 {
    display: flex;
    flex-direction: column;
    width: 40vw;
    justify-content: center;
    gap: 3vh;
    color: white;
    font-family: HelveticaBold;
    margin-left: 12vw;
}

.headingHalaman1 {
    position: relative;
    top: -5vh;
    font-size: 4vw;
    width: max-content;
    z-index: 2;
}

.pHalaman1 {
    font-size: 1.5vw;
    font-family: HelveticaNow;
    z-index: 2;
}

.imgHalaman1 {
    width: 30vw;
    height: 58vh;
    position: relative;
    top: 36vh;
    left: 10vw;
    z-index: 2;
}

.mobile-container {
    display: none;
}

.mobile-containerHalaman1 {
    display: flex;
    flex-direction: column;
}

.mobile-isiHalaman1 {
    position: relative;
    top: 38vh;
    gap: 1.5vh;
}

.mobile-headingHalaman1 {
    font-size: 6vw;
}

.mobile-pHalaman1 {
    font-size: 3.5vw;
    width: 79vw;
}

.mobile-imgHalaman1 {
    width: 41vw;
    height: 24vh;
    top: 42vh;
    left: 50vw;
}