.likeDecor {
    position: absolute;
    width: 8.5vw;
    height: auto;
    top: 29vh;
    left: 9vw;
}

.loveDecor {
    position: absolute;
    width: 8.5vw;
    height: auto;
    bottom: 19vh;
    right: 13vw;
}

.spiralDecor {
    position: absolute;
    width: 8.5vw;
    height: auto;
    width: 100vw;
    position: absolute;
    top: 15vh;
}

.spray1Decor {
    position: absolute;
    top: -24vh;
    right: -10vw;
    width: 30vw;
    z-index: 1;
    overflow: hidden;
    max-width: 100%;
}

.spray2Decor {
    position: absolute;
    overflow: hidden;
    max-width: 100%;
    z-index: 1;
    bottom: -30vh;
    left: -11vw;
    width: 35vw;
}