.likeDecor {
    position: absolute;
    width: 6.5vw;
    height: auto;
    top: 23vh;
    left: 9vw;
    /* nambah */
    z-index: 2;
}

.loveDecor {
    position: absolute;
    width: 6.5vw;
    height: auto;
    top: 70vh;
    right: 13vw;
    /* nambah */
    z-index: 2;
}

.spiralDecor {
    position: absolute;
    width: 8.5vw;
    height: auto;
    width: 100vw;
    position: absolute;
    top: 15vh;
}


/* .spray1Decor {
    position: absolute;
    top: -24vh;
    right: -10vw;
    width: 30vw;
    z-index: 1;
    overflow: hidden;
    max-width: 100%;
}

.spray2Decor {
    position: absolute;
    overflow: hidden;
    max-width: 100%;
    z-index: 1;
    bottom: -30vh;
    left: -11vw;
    width: 35vw;
}

.spray3Decor {
    position: absolute;
    width: 80vw;
    bottom: -109.99vh;
    left: 6vw;
    overflow: hidden;
} */

.sprayDecor1 {
    position: absolute;
    width: 15vw;
    height: 25vh;
    border-radius: 15vw;
    top: -10vh;
    right: -5vw;
    background: radial-gradient( circle at 50% 50%, rgba(255, 165, 0, 1) 20%, rgba(255, 69, 0, 1) 80%);
    filter: blur(5vw);
    overflow: hidden;
}

.sprayDecor1-1 {
    position: absolute;
    width: 15vw;
    height: 25vh;
    border-radius: 15vw;
    top: -1vh;
    right: -9vw;
    background: radial-gradient( circle at 50% 50%, rgba(255, 165, 0, 0.7) 10%, rgba(255, 165, 0, 0.3) 100%);
    filter: blur(8vw);
    overflow: hidden;
}

.sprayDecor2 {
    position: absolute;
    width: 20vw;
    height: 50vh;
    top: 68vh;
    border-radius: 20vw;
    left: -7vw;
    background: radial-gradient( circle at 40% 55%, rgba(255, 255, 255, 1) 25%, rgba(0, 0, 255, 0.8) 80%);
    filter: blur(2.5vw);
    overflow: hidden;
    rotate: 18deg;
    z-index: 2;
}

.sprayDecor2-2 {
    position: absolute;
    width: 20vw;
    height: 50vh;
    top: 52vh;
    border-radius: 20vw;
    left: -2vw;
    background: radial-gradient( circle at 50% 50%, rgba(75, 0, 130, 1) 30%, rgba(106, 90, 205, 1) 80%);
    filter: blur(2.5vw);
    overflow: hidden;
    rotate: 18deg;
    z-index: 1;
}

.sprayDecor2-2 {
    position: absolute;
    width: 20vw;
    height: 40vh;
    top: 75vh;
    border-radius: 20vw;
    left: -10vw;
    background: radial-gradient( circle at 60% 63%, rgba(255, 255, 255, 1) 20%, rgba(255, 69, 0, 1) 80%);
    filter: blur(2.5vw);
    overflow: hidden;
    rotate: 18deg;
    z-index: 2;
}

.sprayDecor3 {
    position: absolute;
    width: 50vw;
    height: 70vh;
    top: 180vh;
    border-radius: 20vw;
    left: 25vw;
    background: radial-gradient( circle at 50% 50%, rgba(255, 69, 0, 1) 40%, rgba(255, 165, 0, 1) 60%);
    filter: blur(5vw);
    overflow: hidden;
    rotate: 18deg;
    z-index: 2;
}

.mobile-likeDecor {
    width: 13.5vw;
    top: 20vh;
    left: 12vw;
}

.mobile-loveDecor {
    width: 15.5vw;
    top: 52vh;
    right: 10vw;
}

.mobile-sprayDecor1 {
    width: 40vw;
    height: 21vh;
    border-radius: 30vw;
    top: -8vh;
    right: -27vw;
}

.mobile-sprayDecor1-1 {
    width: 45vw;
    height: 26vh;
    border-radius: 35vw;
    top: -9.5vh;
    right: -25vw;
}

.mobile-sprayDecor2 {
    width: 91vw;
    height: 50vh;
    border-radius: 50vw;
    top: 77vh;
    left: -59vw;
    filter: blur(7vw);
}

.mobile-sprayDecor2-2 {
    width: 61vw;
    height: 37vh;
    border-radius: 100vw;
    top: 88vh;
    left: -38vw;
    filter: blur(10vw);
}

.mobile-sprayDecor3 {
    width: 72vw;
    height: 40vh;
    top: 150vh;
    left: 15vw;
    filter: blur(20vw);
    z-index: 0;
}