.containerUpcomingEvent {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.judulUpcomingEvent {
    font-size: 3vw;
    font-family: HelveticaBold;
    color: white;
    margin-top: 10vh;
}

.containerIsi {
    width: 70vw;
    height: 60vh;
    background-color: none;
    border-radius: 2vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.containerInfoIsi {
    border: 0.2vw solid white;
    border-radius: 1vw;
    background-color: black;
    background-color: none;
    width: 40vw;
    height: 55vh;
    display: flex;
    padding: 1.5%;
    flex-direction: row;
}

.logoInfoIsi {
    width: 4.5vw;
    height: 10vh;
}

.containerInfo-2 {
    width: 100%;
    height: 100%;
    background: none;
}

.judulInfoIsi {
    font-family: HelveticaBold;
    font-size: 2vw;
    padding: 3%;
    padding-top: 1.5%;
    color: white;
}

.containerDateLoc {
    padding: 3%;
    color: white;
}

.containerDateLoc h4 {
    font-family: HelveticaBold;
    font-size: 1.1vw;
    color: white;
}

.containerDateLoc p {
    font-family: HelveticaNow;
    font-size: 1vw;
    color: white;
}

.containerBtn {
    padding: 3%;
    display: flex;
    flex-direction: row;
    color: white;
    gap: 1vw;
}

.btn {
    width: 10vw;
    height: 4vh;
    border-radius: 0.4vw;
    border: 0.1vw solid white;
    background-color: black;
    color: white;
    font-family: HelveticaNow;
    font-size: 0.7vw;
    transition: 0.3s;
}

.btn:hover {
    color: black;
    background-color: white;
    transition: 0.3s;
}

.cta {
    font-family: HelveticaBold;
    padding: 3%;
    padding-right: 35%;
    font-size: 1.3vw;
    color: white;
}

.containerImgEvent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    top: 7%;
}

.img {
    width: 20vw;
    height: 50vh;
    position: relative;
    z-index: 2;
    grid-area: 1 / 1 / 2 / 2;
    top: -7%;
    left: 17%;
    border-radius: 1vw;
    transition: 0.5s; 
}

.img:hover {
    top: -2%;
    left: 12%;
    transition: 0.5s;
}

.backgroundImg {
    width: 20vw;
    height: 50vh;
    position: relative;
    z-index: 1;
    background-color: white;
    grid-area: 1 / 1 / 2 / 2;
    top: -7%;
    left: 17%;
    border-radius: 1vw; 
}

.mobile-judulUpcomingEvent {
    font-size: 7vw;
    width: 50vw;
    text-align: center;
}

.mobile-containerIsi {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.mobile-containerImgEvent {
    width: auto;
    height: auto;
    position: relative;
    top: -6%;
    left: -5%;   
}

.mobile-img {
    width: 40vw;
    height: 30vh;
}

.mobile-backgroundImg {
    width: 40vw;
    height: 30vh;
}

.mobile-containerInfoIsi {
    position: relative;
    top: -3%;
    left: 2%;
    width: 60vw;
    height: 28vh;
    border-radius: 3vw;
}

.mobile-logoInfoIsi {
    width: 8vw;
    height: 5vh;
}

.mobile-judulInfoIsi {
    font-size: 4vw;
}

.mobile-containerDateLoc {
    padding-top: 5%;
}

.mobile-containerDateLoc h4 {
    font-size: 3vw;
}

.mobile-containerDateLoc p {
    font-size: 2vw;
}

.mobile-containerBtn {
    gap: 2vw;
    padding-top: 6%;
}

.mobile-btn {
    width: 15vw;
    height: 2.3vh;
    font-size: 1.3vw;
}

.mobile-cta {
    font-size: 2.5vw;
    padding-top: 6%;
}