.containerUpcomingEvent {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.judulUpcomingEvent {
    font-size: 4rem;
    font-family: HelveticaBold;
    color: white;
}

.containerIsi {
    width: 80rem;
    height: 50rem;
    background-color: none;
    border-radius: 2rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.containerInfoIsi {
    border: 0.15rem solid white;
    border-radius: 1rem;
    background-color: black;
    background-color: none;
    width: 45rem;
    height: 38rem;
    display: flex;
    padding: 1.5%;
    flex-direction: row;
}

.logoInfoIsi {
    width: 5rem;
    height: 5rem;
}

.containerInfo-2 {
    width: 100%;
    height: 100%;
    background: none;
}

.judulInfoIsi {
    font-family: HelveticaBold;
    font-size: 2.5rem;
    padding: 3%;
    padding-top: 1.5%;
    color: white;
}

.containerDateLocUp {
    padding: 3%;
    display: flex;
    flex-direction: row;
    width: 20rem;
    flex-wrap: wrap;
    color: white;
}

.containerDateLocUp h4 {
    font-family: HelveticaBold;
    font-size: 1.5rem;
    color: white;
    width: 15rem;
}

.containerDateLocUp p {
    font-family: HelveticaNow;
    font-size: 1.2rem;
    color: white;
}

.containerBtn {
    padding: 3%;
    display: flex;
    flex-direction: row;
    color: white;
    gap: 1rem;
}

.btn {
    width: 12rem;
    height: 2.5rem;
    border-radius: 0.4rem;
    border: 0.1rem solid white;
    background-color: black;
    color: white;
    font-family: HelveticaNow;
    font-size: 0.7rem;
    transition: 0.3s;
}

.btn:hover {
    color: black;
    background-color: white;
    transition: 0.3s;
}

.cta {
    font-family: HelveticaBold;
    padding: 3%;
    padding-right: 35%;
    font-size: 1.5rem;
    color: white;
}

.containerImgEvent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    top: 7%;
}

.img {
    width: 30rem;
    height: 40rem;
    position: relative;
    z-index: 2;
    grid-area: 1 / 1 / 2 / 2;
    top: -9%;
    left: 17%;
    border-radius: 2rem;
    transition: 0.5s; 
}

.img:hover {
    top: -2%;
    left: 12%;
    transition: 0.5s;
}

.backgroundImg {
    width: 30rem;
    height: 40rem;
    position: relative;
    z-index: 1;
    background-color: white;
    grid-area: 1 / 1 / 2 / 2;
    top: -9%;
    left: 17%;
    border-radius: 2rem; 
}

@media screen and (max-width:485px) {
    .judulUpcomingEvent {
        font-size: 2rem;
        width: 10rem;
        text-align: center;
    }
    
    .containerIsi {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    
    .containerImgEvent {
        width: auto;
        height: auto;
        margin-top: -3%;
        margin-right: 15%;   
    }
    
    .img {
        width: 15rem;
        height: 20rem;
        border-radius: 1rem;
    }
    
    .backgroundImg {
        width: 15rem;
        height: 20rem;
        border-radius: 1rem;
    }
    
    .containerInfoIsi {
        width: 18rem;
        height: 20rem;
        border-radius: 0.8rem;
        border: 0.1rem solid white;
    }
    
    .logoInfoIsi {
        width: 3rem;
        height: 3rem;
    }
    
    .judulInfoIsi {
        font-size: 1.2rem;
    }
    
    .containerDateLocUp {
        padding-top: 5%;
        width: 10rem;
        gap: 0.3rem;
        flex-direction: column;
    }
    
    .containerDateLocUp h4 {
        font-size: 1rem;
    }
    
    .containerDateLocUp p {
        font-size: 0.8rem;
    }
    
    .containerBtn {
        gap: 0.8rem;
        padding-top: 6%;
    }
    
    .btn {
        width: 5rem;
        height: 1.2rem;
        font-size: 0.5rem;
    }
    
    .cta {
        font-size: 0.8rem;
        padding-top: 6%;
        width: 20rem;
    }
}

