.backgroundHalaman3 {
    background: linear-gradient(#000000 20%, #505050 45%, #9B9B9B 70%);
}

.containerHalaman3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    backdrop-filter: blur(5rem);
}

.judulHalaman3 {
    font-family: HelveticaBold;
    margin-top: 8rem;
    font-size: 4rem;
    width: 30rem;
    text-align: center;
    color: white;
}

@media screen and (max-width:485px) {
    .containerHalaman3 {
        width: 100%;
    }
    
    .judulHalaman3 {
        font-size: 2rem;
    }
}

