.backgroundHalaman3 {
    background: linear-gradient(#000000 20%, #505050 45%, #9B9B9B 70%);
}

.containerHalaman3 {
    width: 100vw;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    backdrop-filter: blur(5vw);
}

.judulHalaman3 {
    font-family: HelveticaBold;
    margin-top: 10vh;
    font-size: 4vw;
    width: 50vw;
    text-align: center;
}
