.containerHeader {
    width: 100%;
    height: 10rem;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    z-index: 4;
    backdrop-filter: blur(0);
    transition: backdrop-filter  0.5s; /* Change to max-height transition */
    transition: height 0.1s ease-in-out;

}

.scrolled {
    backdrop-filter: blur(3rem);
    height: 7rem;
    transition:  backdrop-filter 0.5s; /* Ensure transition applies to max-height */
    transition: height 0.1s ease-in-out;
}



.logoHeader {
    width: 9.5rem;
    top: -1rem;
    left: 20rem;
    margin-left: 22rem;
    transition: width 0.3s;
}

.scrolledLogo {
    width: 7.5rem;
    transition: width 0.7s;
}

.navbarHeader {
    font-family: HelveticaNow;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 1.5rem;
    gap: 8rem;
    margin-left: 26rem;
}

.navbarHeader li {
    transition: 0.1s;
}

.navbarHeader li:hover {
    color: white;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
    transition: 0.1s;
    cursor: pointer;
}

ul {
    list-style: none;
}

.li-header {
    width: 8rem;
}

.humbergerHeader {
    display: none;
}

.navClose {
    display: none;
}

@media screen and (max-width: 485px) {

    .logoHeader {
        margin-left: 13.5rem;
        width: 7rem;
        height: 8.5rem;
    }

    .hamburgerHeader {
        display: block;
        color: #fff;
        height: 4rem;
        padding: 7%;
    }

    .navbarHeader {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        color: black;
        background-color: white;
        position: absolute;
        top: 1rem;
        left: -87%;
        width: 100%;
        height: 18rem;
        padding: 7%;
        transform: translateY(-50rem);
        gap: 2rem;
    }

    .navbarHeader li {
        color: black;
        font-size: 1.2rem;
        font-family: HelveticaBold;
        width: 10rem;
    }

    .navClose {
        width: 100%;
        height: 7rem;
        background-color: black;
        position: absolute;
        top: 19rem;
        display: flex;
        flex-direction: row;
        transform: translateY(-30rem);
    }

    .scrolled {
        height: 8rem;
    }

    .hamburgerClose {
        font-size: 4rem;
        margin-top: 1rem;
        margin-left: 1rem;
        color: white;
    }

    .logoClose {
        margin-left: 17rem;
        width: 7rem;
        height: 8.5rem;
        position: relative;
        top: -0.95rem;
    }
}

/* .mobile-header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: 11.5vh;
}

.mobile-logoHeader {
    width: 24vw;
    height: 13.5vh;
    position: relative;
    left: 35vw;
}

.mobile-navbarHeader {
    display: none;
}

.hamburgerHeader {
    display: none;
}

.navClose {
    display: none;
}

.mobile-hamburgerHeader {
    color: white;
    display: block;
    font-size: 12.5vw;
    margin-top: 2vh;
    margin-left: 5vw;
}

.mobile-navbarHeader {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: black;
    background-color: white;
    position: absolute;
    top: 0;
    left: -20vw;
    width: 100vw;
    height: 34vh;
    padding: 7%;
    transform: translateY(-35vh);
}

.mobile-navbarHeader li {
    color: black;
    font-size: 4vw;
    font-family: HelveticaBold;
    width: 30vw;
}

.mobile-navbarHeader li:hover {
    color: black;
}

.mobile-navClose {
    width: 100vw;
    height: 10.5vh;
    background-color: black;
    position: absolute;
    top: 34vh;
    display: flex;
    flex-direction: row;
    transform: translateY(-49vh);
}

.mobile-hamburgerClose {
    font-size: 12.5vw;
    margin-top: 2vh;
    margin-left: 5vw;
    color: white;
}

.mobile-logoClose {
    width: 24vw;
    left: 56vw;
    position: relative;
    top: -1.5vh;
    height: 13.5vh;

} */
