.containerNews-page {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.judulNews {
    margin-top: 15vh;
    color: white;
    font-family: HelveticaBold ;
    font-size: 3vw;
}

.containerNews {
    width: 100vw;
    height: 60vh;
    background-color: white;
    position: relative;
    top: 5vh;
}