.page-4 {
  background: linear-gradient(#9b9b9b 70%, #000000 10%);
  width: 100%;
}

.containerHalaman4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  row-gap: 0.7vw;
  width: 100%;
}

.isiHalaman4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 4px;
  color: white;
}

.headingHalaman4 {
  color: white;
  font-size: 4rem;
  font-family: HelveticaBold;
}

.headingHalaman4Small {
  font-size: 3rem;
  font-family: HelveticaBold;
}

.containerImg {
  display: grid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.imgHal4 {
  width: 100vw;
  grid-area: 1 / 1 / 5 / 2;
  z-index: 1;
}

.filterImg {
  width: 2000rem;
  height: 35%;
  background-color: black;
  opacity: 1;
  grid-area: 4 / 1 / 5 / 2;
  z-index: 2;
  filter: blur(3rem);
  overflow: hidden;
  position: absolute;
  top: 65%;
  left: -50%;
}


.dukunganNpartner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 2rem;
  gap: 3rem;
  width: 100%;
  row-gap: 2rem;
  position: relative;
  top: 4%;
  right: 3%;
  z-index: 3;
}

.heading4 {
  color: white;
  font-size: 1.7vw;
  margin-bottom: 1vw;
  font-family: HelveticaNow;
}

.wadahLogoDukungan {
  display: flex;
  gap: 2vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.logoDukungan {
  max-width: 10vw;
  height: auto;
  object-fit: contain;
}

.img2Hal4 {
  display: none;
}

@keyframes containerRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(40px);
  opacity: 0.8;
  animation: move 8s ease-in-out infinite;
}

.blob-1 {
  width: 150px;
  height: 150px;
  background: #b22e15;
  top: 0;
  left: 30%;
  animation-delay: 0s;
}

.blob-2 {
  width: 180px;
  height: 180px;
  background: #e0c39f;
  bottom: 10px;
  left: 0;
  animation-delay: -2s;
}

.blob-3 {
  width: 160px;
  height: 160px;
  background: #d67e45;
  bottom: 20px;
  right: 0;
  animation-delay: -4s;
}

@keyframes move {
  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  33% {
    transform: translate(40px, -40px) rotate(120deg);
  }
  66% {
    transform: translate(-40px, 40px) rotate(240deg);
  }
}

.abstract-container {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 28rem;
  height: 28rem;
  animation: containerRotate 20s linear infinite;
  z-index: 2;
}

@keyframes containerRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(2.5vw);
  opacity: 0.8;
  animation: move 8s ease-in-out infinite;
}

.blob-1 {
  width: 12rem;
  height: 12rem;
  background: #b22e15;
  top: 0;
  left: 30%;
  animation-delay: 0s;
}

.blob-2 {
  width: 14rem;
  height: 14rem;
  background: #e0c39f;
  bottom: 0.7rem;
  left: 0;
  animation-delay: -2s;
}

.blob-3 {
  width: 13rem;
  height: 13rem;
  background: #d67e45;
  bottom: 1.3rem;
  right: 0;
  animation-delay: -4s;
}

@keyframes move {
  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  33% {
    transform: translate(2.5rem, -2.5rem) rotate(120deg);
  }
  66% {
    transform: translate(-2.5rem, 2.5rem) rotate(240deg);
  }
}


@media screen and (max-width: 480px) {
  .abstract-container {
    width: 13rem;
    height: 13rem;
  }
  .blob-1 {
    width: 5rem;
    height: 5rem;
  }
  .blob-2 {
    width: 7rem;
    height: 7rem;
  }
  .blob-3 {
    width: 6rem;
    height: 6rem;
  }

  .page-4 {
    width: 100%;
  }
  
  .containerHalaman4 {
    width: 100%;
  }
  
  .abstract-container {
    left: -10%;
    top: 60%;
    opacity: 0.8;
  
  }
  
  .isiHalaman4 {
    position: relative;
    top: 2%;
  }
  
  .containerJudul {
    position: relative;
    top: -47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .containerImg {
    display: grid;
    grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 7rem;
  }
  
  .imgHal4 {
    width: 200%;
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    left: -100%;
    top: 18%;
  }
  
  .img2Hal4 {
    width: 200%;
    display: block;
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    left:0%;
    top: -28%;
  }
  
  .filterImg {
    filter: blur(25px);
    top: 90%;
    height: 9rem;
  }
  
  .dukunganNpartner {
    justify-content: center;
    margin-right: 0;
    gap: 3rem;
    text-align: center;
    position: relative;
    top: 0.5%;
    left: 2%;
  }
  .heading4 {
    color: white;
    font-family: HelveticaNow;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .headingHalaman4 {
    font-size: 2rem;
  }
  
  .headingHalaman4Small {
    font-size: 2rem;
  }
  
  .logoDukungan{
    min-width: 60px;
    max-width: 5rem;
  }
}



